# Ignore specific files
test.html
test1.html
test3.html 
newtest.html
Untitled-1.html
test4.html
junior1.html
#php
test.php
index.php
events.php
#json
assets/json/profession-courses.json
assets/json/profession-courses1.json
assets/json/junior1.json
#js
junior1.js
test2.js